@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$half-viewport-width: 50vw;

body {
  font-family: "Inter", sans-serif;
  background: #0d1116;
}

#root
  > div
  > div
  > div.sc-dcJsrY.sc-ivgJuh.htbJWY.kAlPsz
  > div
  > div
  > div
  > div
  > div {
  max-width: $half-viewport-width;
}

#root {
  .react-swipeable-view-container {
    & > div {
      max-height: 100vh;
      padding-bottom: 18px;
      overflow: unset;
    }
  }

  .forge-page {
    padding: 40px 20px 80px;
  }

  .signature-actions-list {
    background: white;
    padding: 18px;
    margin-bottom: 18px;
    border-radius: 4px;

    & > * {
      color: #0d1116;
    }

    span {
      color: #0d1116 !important;
    }
  }

  div:has(> .signature-accept-actions) {
    backdrop-filter: blur(2px);
    background-color: rgba(13, 17, 22, 0.5);

    div > div > a {
      display: none;
    }
  }

  .signature-accept-container {
    .signature-actions-list {
      padding: 16px;
    }
  }

  // .signature-accept-container div:has(.signature-accept-actions) {
  //   backdrop-filter: blur(2px);
  //   background-color: rgba(13, 17, 22, 0.5);
  // }
  // NavigationBar
  .forge-flow > div {
    &:first-child {
      overflow: unset;
    }

    &:last-child {
      max-height: 100vh;
      padding-bottom: 18px;
      position: absolute;
      bottom: 0;
      width: 100vw;
      backdrop-filter: blur(2px);
      background-color: rgba(13, 17, 22, 0.5);
      z-index: 99;

      & > div {
        max-width: $half-viewport-width;
      }

      a {
        display: none;
      }

      span {
        color: var(--Text-Primary, #fff);
      }
      button {
        background-color: transparent;

        .button-circle {
          background-color: #ffffff;
          width: 40px;
          height: 40px;

          svg {
            path {
              fill: #151a1f;
            }
          }
        }

        &:disabled {
          .button-circle {
            background-color: #151a1f !important;

            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .workflow-message {
    border-radius: 4px;
  }

  div[data-cy="pageContainer"] {
    border-radius: 4px;
  }
  div[data-cy="styledFilePageTitle"] {
    color: var(--Text-Disabled, #585f67);
  }

  .workflow-message-warning {
    & > .markdown {
      color: revert !important;
    }
  }

  /* base */
  .forge-flow,
  .basic-layout {
    background: #0d1116;

    #finish-btn {
      height: auto;
    }

    .form-group-no-label {
      // margin-top: -12px;
    }

    .ant-form-item-label {
      margin-bottom: 8px;
    }

    #page-title,
    #header-title,
    .markdown,
    .page-description,
    label > span {
      color: var(--Text-Primary, #fff);
    }

    label > span {
      font-feature-settings: "clig" off, "liga" off;

      /* Body/Small/Medium */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
    }

    .optional {
      padding-right: 3px;
    }

    .ant-select {
      .ant-select-selector {
        height: auto;
      }

      .dropdown-option-value-parent {
        .placeholder {
          max-height: 0px;
        }
      }

      .dropdown-option-value {
        height: auto;
        text-wrap: pretty;
      }
      .ant-select-arrow {
        color: var(--Text-Primary, #fff);
        svg {
          path {
            fill: var(--Text-Primary, #fff);
          }
        }
      }
    }
    .ant-select-dropdown .ant-select-item-option-selected {
      background: var(--Text-Disabled, #585f67) !important;
      color: var(--Text-Primary, #fff) !important;
    }

    .ant-select-dropdown {
      background: var(--Background-Secondary, #151a1f);
      color: var(--Text-Primary, #fff);

      .ant-select-item-option-content,
      .dropdown-option-value {
        color: var(--Text-Primary, #fff);
      }
    }

    .ant-select-item-option-active {
      background: var(--Text-Disabled, #585f67) !important;
      color: var(--Text-Primary, #fff) !important;
      .ant-select-item-option-content,
      .dropdown-option-value {
        color: var(--Text-Primary, #fff);
      }
    }

    .ant-select {
      & > .ant-select-selector {
        min-height: 48px;
        align-items: center;
        padding: 2px 8px;

        .ant-select-selection-item {
          line-height: normal;
          display: flex;
          padding: 8px 0;
        }

        .dropdown-option-value {
          color: white;
        }
      }

      .ant-select-selector,
      .ant-select-item-option-content {
        background: var(--Background-Secondary, #151a1f);
        border-radius: var(--ContainerCorner, 4px);
        color: var(--Text-Primary, #fff);
        border-color: var(--Background-Secondary, #151a1f);

        align-self: stretch;
        background: var(--Background-Secondary, #151a1f);
        border-width: 1px !important;

        input {
          color: var(--Text-Primary, #fff);
        }

        &:focus,
        &:active,
        &:hover {
          border-color: var(--Text-Interactive, #62c9d0);
          background: var(--Background-Secondary, #151a1f);
          border-radius: var(--ContainerCorner, 4px);
          color: var(--Text-Primary, #fff);
          border-color: var(--Background-Secondary, #151a1f);
        }

        &:placeholder {
          color: var(--Text-Disabled, #585f67);
        }
      }
    }

    button,
    .ant-btn {
      height: auto;
      user-select: none !important;
      background: white;
      padding: 12px 20px;
      font-feature-settings: "clig" off, "liga" off;
      border-radius: var(--ContainerCorner, 4px);
      background: var(--Button-Primary-Background-Default, #fff);
      //styleName: Body/Base/Semibold;
      font-family: Inter;
      font-size: 14px;
      font-weight: 600 !important;
      color: var(--Button-Primary-Foreground-Default, #0d1116);
      border-width: 2px;

      &:active,
      &:focus,
      &:visited {
        background: rgba(198, 203, 206, 1);

        span: {
          background: inherit;
        }
      }

      &:disabled {
        background: rgba(198, 203, 206, 1);

        span: {
          background: rgba(198, 203, 206, 1);
        }
      }

      &.ant-btn-solid-black {
        background: var(--Button-Primary-Background-Active, #0d1116);
        color: var(--Button-Primary-Foreground-Active, #fff);
      }

      &.ant-btn-solid-light {
        background: var(--Button-Primary-Background-Active, #fff);
        color: var(--Button-Primary-Foreground-Active, #0d1116);
      }

      & > span {
        user-select: none !important;
      }
    }

    .ant-form-item {
      .ant-form-item-control {
        .ant-checkbox-wrapper {
          background: var(--Background-Secondary, #151a1f);
          border-radius: var(--ContainerCorner, 4px);
          color: var(--Text-Primary, #fff);
          border-color: var(--Background-Secondary, #151a1f);

          display: flex;
          padding: 14px 8px;
          line-height: 20px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          background: var(--Background-Secondary, #151a1f);
          border-width: 1px !important;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .ant-input {
          background: var(--Background-Secondary, #151a1f);
          border-radius: var(--ContainerCorner, 4px);
          color: var(--Text-Primary, #fff);
          border-color: var(--Background-Secondary, #151a1f);

          display: flex;
          align-items: center;
          min-height: 48px;
          padding: 14px 8px;
          line-height: 20px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          background: var(--Background-Secondary, #151a1f);
          border-width: 1px !important;

          &:focus,
          &:active,
          &:hover {
            border-color: var(--Text-Interactive, #62c9d0);
            background: var(--Background-Secondary, #151a1f);
            border-radius: var(--ContainerCorner, 4px);
            color: var(--Text-Primary, #fff);
            border-color: var(--Background-Secondary, #151a1f);
          }

          &:placeholder {
            color: var(--Text-Disabled, #585f67);
          }
        }
      }
    }

    // .label-employee-address {
    //   & > .ant-form-item-control {
    //     & > div {
    //       & > div {
    //         margin-bottom: 20px;
    //       }
    //     }
    //   }
    // }

    #saveAndContinueButton {
      background: transparent;
      color: var(--Text-Interactive, #62c9d0);

      & > svg {
        color: var(--Text-Interactive, #62c9d0);

        & > path {
          fill: var(--Text-Interactive, #62c9d0);
        }
      }
    }
  }
}

form > div {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Increasing the delay for each child */
form > div:nth-child(1) {
  animation-delay: 100ms;
}
form > div:nth-child(2) {
  animation-delay: 200ms;
}
form > div:nth-child(3) {
  animation-delay: 300ms;
}
form > div:nth-child(4) {
  animation-delay: 400ms;
}
form > div:nth-child(5) {
  animation-delay: 500ms;
}
form > div:nth-child(6) {
  animation-delay: 600ms;
}
form > div:nth-child(7) {
  animation-delay: 700ms;
}
form > div:nth-child(8) {
  animation-delay: 800ms;
}
form > div:nth-child(9) {
  animation-delay: 900ms;
}
