@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif; }

#root > div > div > div.sc-dcJsrY.sc-ivgJuh.htbJWY.kAlPsz > div > div > div > div > div {
  max-width: 50%; }

#root {
  /* custom */ }
  #root .react-swipeable-view-container > div {
    max-height: 100vh;
    padding-bottom: 18px;
    overflow: unset; }
  #root .forge-flow > div:first-child {
    overflow: unset; }
  #root .forge-flow > div:last-child {
    max-height: 100vh;
    padding-bottom: 18px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    backdrop-filter: blur(2px);
    background-color: rgba(13, 17, 22, 0.5);
    z-index: 99; }
    #root .forge-flow > div:last-child button {
      background-color: transparent; }
      #root .forge-flow > div:last-child button .button-circle {
        background-color: transparent; }
      #root .forge-flow > div:last-child button:disabled .button-circle {
        background-color: transparent; }
  #root .forge-flow {
    background: black; }
    #root .forge-flow .ant-form-item-label {
      margin-bottom: 8px; }
    #root .forge-flow #page-title,
    #root .forge-flow #header-title,
    #root .forge-flow .markdown,
    #root .forge-flow label > span {
      color: var(--Text-Primary, #fff); }
    #root .forge-flow label > span {
      font-feature-settings: "clig" off, "liga" off;
      /* Body/Small/Medium */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500; }
    #root .forge-flow .optional {
      padding-right: 3px; }
    #root .forge-flow .ant-select-item-option-content {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f); }
      #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent,
      #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content {
        /* display: flex; */
        /* height: 48px; */
        padding: 14px 8px;
        /* align-items: center; */
        /* gap: 8px; */
        align-self: stretch;
        background: var(--Background-Secondary, #151a1f);
        border-width: 1px !important; }
        #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent input,
        #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content input {
          color: var(--Text-Primary, #fff); }
        #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:focus, #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:active, #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:hover,
        #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:focus,
        #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:active,
        #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:hover {
          border-color: var(--Text-Interactive, #62c9d0);
          background: var(--Background-Secondary, #151a1f);
          border-radius: var(--ContainerCorner, 4px);
          color: var(--Text-Primary, #fff);
          border-color: var(--Background-Secondary, #151a1f); }
          #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:focus span, #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:active span, #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:hover span,
          #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:focus span,
          #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:active span,
          #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:hover span {
            color: var(--Text-Primary, #fff); }
        #root .forge-flow .ant-select-item-option-content .dropdown-option-value-parent:placeholder,
        #root .forge-flow .ant-select-item-option-content .ant-select-item-option-content:placeholder {
          color: var(--Text-Disabled, #585f67); }
    #root .forge-flow .ant-select .ant-select-selector,
    #root .forge-flow .ant-select .ant-select-item-option-content {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f);
      /* display: flex; */
      /* height: 48px; */
      padding: 14px 8px;
      /* align-items: center; */
      /* gap: 8px; */
      align-self: stretch;
      background: var(--Background-Secondary, #151a1f);
      border-width: 1px !important; }
      #root .forge-flow .ant-select .ant-select-selector input,
      #root .forge-flow .ant-select .ant-select-item-option-content input {
        color: var(--Text-Primary, #fff); }
      #root .forge-flow .ant-select .ant-select-selector:focus, #root .forge-flow .ant-select .ant-select-selector:active, #root .forge-flow .ant-select .ant-select-selector:hover,
      #root .forge-flow .ant-select .ant-select-item-option-content:focus,
      #root .forge-flow .ant-select .ant-select-item-option-content:active,
      #root .forge-flow .ant-select .ant-select-item-option-content:hover {
        border-color: var(--Text-Interactive, #62c9d0);
        background: var(--Background-Secondary, #151a1f);
        border-radius: var(--ContainerCorner, 4px);
        color: var(--Text-Primary, #fff);
        border-color: var(--Background-Secondary, #151a1f); }
      #root .forge-flow .ant-select .ant-select-selector:placeholder,
      #root .forge-flow .ant-select .ant-select-item-option-content:placeholder {
        color: var(--Text-Disabled, #585f67); }
    #root .forge-flow button,
    #root .forge-flow .ant-button {
      user-select: none !important;
      background: white;
      padding: 12px 20px;
      font-feature-settings: "clig" off, "liga" off;
      border-radius: var(--ContainerCorner, 4px);
      background: var(--Button-Primary-Background-Default, #fff);
      font-family: Inter;
      font-size: 14px;
      font-weight: 600 !important;
      color: var(--Button-Primary-Foreground-Default, #0d1116);
      border-width: 2px;
      span-user-select: none !important; }
      #root .forge-flow button:active, #root .forge-flow button:focus, #root .forge-flow button:visited,
      #root .forge-flow .ant-button:active,
      #root .forge-flow .ant-button:focus,
      #root .forge-flow .ant-button:visited {
        background: var(--Button-Primary-Background-Active, #c6cbce);
        span-background: inherit; }
      #root .forge-flow button:disabled,
      #root .forge-flow .ant-button:disabled {
        background: #c6cbce;
        span-background: #c6cbce; }
    #root .forge-flow .ant-form-item .ant-form-item-control .ant-checkbox-wrapper {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f);
      display: flex;
      padding: 14px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      background: var(--Background-Secondary, #151a1f);
      border-width: 1px !important;
      margin-top: 8px;
      margin-bottom: 8px; }
    #root .forge-flow .ant-form-item .ant-form-item-control .ant-input,
    #root .forge-flow .ant-form-item .ant-form-item-control input {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f);
      display: flex;
      height: 48px;
      padding: 14px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      background: var(--Background-Secondary, #151a1f);
      border-width: 1px !important; }
      #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:focus, #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:active, #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:hover,
      #root .forge-flow .ant-form-item .ant-form-item-control input:focus,
      #root .forge-flow .ant-form-item .ant-form-item-control input:active,
      #root .forge-flow .ant-form-item .ant-form-item-control input:hover {
        border-color: var(--Text-Interactive, #62c9d0);
        background: var(--Background-Secondary, #151a1f);
        border-radius: var(--ContainerCorner, 4px);
        color: var(--Text-Primary, #fff);
        border-color: var(--Background-Secondary, #151a1f); }
      #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:placeholder,
      #root .forge-flow .ant-form-item .ant-form-item-control input:placeholder {
        color: var(--Text-Disabled, #585f67); }
