@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif; }

#root
> div
> div
> div.sc-dcJsrY.sc-ivgJuh.htbJWY.kAlPsz
> div
> div
> div
> div
> div {
  max-width: 50vw; }

#root {
  /* custom */ }
  #root .react-swipeable-view-container > div {
    max-height: 100vh;
    padding-bottom: 18px;
    overflow: unset; }
  #root .forge-flow > div:first-child {
    overflow: unset; }
  #root .forge-flow > div:last-child {
    max-height: 100vh;
    padding-bottom: 18px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    backdrop-filter: blur(2px);
    background-color: rgba(13, 17, 22, 0.5);
    z-index: 99; }
    #root .forge-flow > div:last-child > div {
      max-width: 50vw; }
    #root .forge-flow > div:last-child button {
      background-color: transparent; }
      #root .forge-flow > div:last-child button .button-circle {
        background-color: #ffffff;
        width: 40px;
        height: 40px; }
        #root .forge-flow > div:last-child button .button-circle svg path {
          fill: #151a1f; }
      #root .forge-flow > div:last-child button:disabled .button-circle {
        background-color: #151a1f !important; }
        #root .forge-flow > div:last-child button:disabled .button-circle svg path {
          fill: #ffffff; }
  #root .forge-flow {
    background: black; }
    #root .forge-flow .ant-form-item-label {
      margin-bottom: 8px; }
    #root .forge-flow #page-title,
    #root .forge-flow #header-title,
    #root .forge-flow .markdown,
    #root .forge-flow label > span {
      color: var(--Text-Primary, #fff); }
    #root .forge-flow label > span {
      font-feature-settings: "clig" off, "liga" off;
      /* Body/Small/Medium */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500; }
    #root .forge-flow .optional {
      padding-right: 3px; }
    #root .forge-flow .ant-button {
      user-select: none !important;
      background: white;
      padding: 12px 20px;
      font-feature-settings: "clig" off, "liga" off;
      border-radius: var(--ContainerCorner, 4px);
      background: var(--Button-Primary-Background-Default, #fff);
      font-family: Inter;
      font-size: 14px;
      font-weight: 600 !important;
      color: var(--Button-Primary-Foreground-Default, #0d1116);
      border-width: 2px; }
      #root .forge-flow .ant-button:active, #root .forge-flow .ant-button:focus, #root .forge-flow .ant-button:visited {
        background: #c6cbce;
        span-background: inherit; }
      #root .forge-flow .ant-button:disabled {
        background: #c6cbce;
        span-background: #c6cbce; }
      #root .forge-flow .ant-button.ant-btn-solid-black {
        background: var(--Button-Primary-Background-Active, #0d1116);
        color: var(--Button-Primary-Foreground-Active, #fff); }
      #root .forge-flow .ant-button.ant-btn-solid-light {
        background: var(--Button-Primary-Background-Active, #fff);
        color: var(--Button-Primary-Foreground-Active, #0d1116); }
      #root .forge-flow .ant-button > span {
        user-select: none !important; }
    #root .forge-flow .ant-form-item .ant-form-item-control .ant-checkbox-wrapper {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f);
      display: flex;
      padding: 14px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      background: var(--Background-Secondary, #151a1f);
      border-width: 1px !important;
      margin-top: 8px;
      margin-bottom: 8px; }
    #root .forge-flow .ant-form-item .ant-form-item-control .ant-input {
      background: var(--Background-Secondary, #151a1f);
      border-radius: var(--ContainerCorner, 4px);
      color: var(--Text-Primary, #fff);
      border-color: var(--Background-Secondary, #151a1f);
      display: flex;
      height: 48px;
      padding: 14px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      background: var(--Background-Secondary, #151a1f);
      border-width: 1px !important; }
      #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:focus, #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:active, #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:hover {
        border-color: var(--Text-Interactive, #62c9d0);
        background: var(--Background-Secondary, #151a1f);
        border-radius: var(--ContainerCorner, 4px);
        color: var(--Text-Primary, #fff);
        border-color: var(--Background-Secondary, #151a1f); }
      #root .forge-flow .ant-form-item .ant-form-item-control .ant-input:placeholder {
        color: var(--Text-Disabled, #585f67); }
  #root #saveAndContinueButton {
    background: transparent;
    color: var(--Text-Interactive, #62c9d0); }
    #root #saveAndContinueButton > svg {
      color: var(--Text-Interactive, #62c9d0); }
      #root #saveAndContinueButton > svg > path {
        fill: var(--Text-Interactive, #62c9d0); }
